/* Настройка хит-боксов для всех элментов */
* {
	box-sizing: border-box;
}

/* Настройка всего "body" */
body {
	font-family: tahoma;	/* Установка шрифта */ 
	line-height: 1.5;	/* Межстрочный интервал */ 
	color: #333;	/* Цвет текста */
}

/* Настройка элемента с классом "section" */ 
.section {
	padding: 30px 10%;	/* Отступ с правого края и с верху */
}

/* Настройка элемента с классом "header" */ 
.header {
	margin-top: 80px;	/* Отступ с верху */
	text-align: center;	/* Центрирование текста */
	font-size: 24px;	/* Размер шрифта */	
}

/* Настройка элемента с тегом "span" с классом "header" */ 
.header span {
	display: block;	/* Перенос тега "span" на другую строку */
	font-weight: 300;	/* Жирность шрифта */ 
}

/* Настройка элемента с тегом "span" с классом "strong" */  
.header strong {
	font-weight: 900;	/* Жирность шрифта */ 
	text-transform: uppercase;	/* Текст заглавными буквами */ 
}

/* Настройка всего "main" */
.main {
	text-align: center;	/* Выровнять форму и блок с видео по центру */
	margin-top: 80px;	/* Отступ с верху */
}

/* Настройка элементов с классом "video" и "form" */
.video, .form {
	display: inline-block;	/* Строчно блочный элемент */
	vertical-align: top;	/* Вертикальное выравнивание относительно друг друга */
}

/* Настройка элемента с классом "form" */ 
.form {
	margin-left: 30px;	/* Отступ слева от видео */
	text-align: center;	/* Выравнивание всего текста в классе form по центру */
	border: 5px solid #2727d9;	/* Рамка вокруг элемента */
	padding: 20px;	/* Отступ по краям */
}

/* Настройка элемента с классом "form-header" */ 
.form-header {
	margin-bottom: 20px;	/* Отступ от нижнего поля для ввода данных */ 
	text-align: center;	/* выравниваем по центру */
	font-size: 20px;	/* Кегель 20px */
	font-weight: 900;	/* Жирность шрифта - жирный */
}

/* Настройка элемента "input" с классом "form" */ 
.form input {
	display: block;	/* Что бы формы стали строчно блочными */
	margin-top: 15px;	/* Отступ с верху для второго поля ввода данных */
	width: 300px;	/* Ширина поля */
	padding: 17px;	/* Отступ от поля */
	border: 1px solid #333;	/* Рамка */
	font-size: 18px;	/* Размер шрифта */
}

/* Настройка кнопки с классом "form-btn" */ 
.form-btn {
	margin-top: 20px;	/* Отступ сверху от поля для ввода */
	font-size: 18px;	/* Размер шрифта */
	font-weight: 900;	/* Жирность шрифта */
	color: #fff;	/* Цвет фрифта */
	background-color: #2727d9;	/* Фоновый цвет кнопки */
	border: none;	/* Убираем ненужную рамку вокруг кнопки */
	width: 300px;	/* Ширина кнопки */
	height: 60px;	/* Высота кнопки */
}
