/* Шапка */

:root { /*  Создание переменных */
    --color1: #05b1b1;  /* Переменные цветов */
    --color2: #52339a;  /* Переменные цветов */
}
footer, section {
    padding: 100px 0;   /* Внутренний отступ сверху и снизу = 100, по бокам 0. Границы блоков*/
}
header { 
    padding: 200px 0;   /* Внутренний отступ сверху и снизу = 200, по бокам 0 */
}
header, footer {
    background: var(--color1);  /* В случае отсутствия градиента, испотзуется цвет "--color1" */
    background: url(../img/pattern.png), linear-gradient(45deg, var(--color1), var(--color2));   /* фоновое изображение по ссылке + градиент от "--color1" к "--color2" */
    background-size: contain;   /* Масштабирование паттерна */
}
.itd_play {
    background-color: var(--color1);    /* Цвет кнопки */
    width: 60px;    /* Ширина */
    height: 60px;   /* Высота */
    border-radius: 50%; /* Круглая форма */
    display: flex;  /* Блочность */
    justify-content: center;    /* Выровнять "Flex" по центру */
    align-items: center;    /* Выравнивание "Flex" по центру в нутри контейнера */
    cursor: pointer;    /* При наведении менялся курсор */
    margin: 30px auto;    /* Отступы 30 сверху по бокам авто */
    transition: all 0.2s ease;  /* Для плавной анимации */
}
.itd_play:hover {   /* При наведении на элемент с классом "itd_play" */
    background: var(--color2);  /* Цвет кнопки */
}
.itd_triangle { /* Создание треугольника */
    margin-right: -5px;   /* Выравнивание треугольника сдвигом в право */
    width: 0;   /* Ширина */
    height: 0;  /* Высота */
    border-style: solid;    /* Стиль рамки */
    border-width: 10px 0 10px 20px; /* Толщина границ рамки */
    border-color: transparent transparent transparent #ffffff;  /* Цвет треугольника */

}
.btn-itd { 
    display: block; /* Блочный элемент */
    max-width: 200px;   /* Максимальная ширина */
    margin: 0 auto; /* Отступ для выравнивания по центру */
    color: var(--bs-white); /* Цвет текста в кнопке от переменной B5 */
    background-color: var(--color2);    /* Цвет кнопки от переменной */    
}
.btn-itd:hover {    /* При наведении */
    color: var(--bs-white); /* Цвет текста в кнопке от переменной B5 */
    background-color: var(--color1);    /* Цвет кнопки от переменной */      
}
.embed-container {  /* Стили для видео */
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {  /* Стили для видео */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* О курсе */

.color1 {   /* Создание класса цвета */
    color: var(--color1);   /* Цвет от переменной */
}
.color2 {   /* Создание класса цвета */
    color: var(--color2);   /* Цвет от переменной */
}
.bg1 {   /* Создание класса цвета */
    background-color: var(--color1);   /* Цвет от переменной */
}
.bg2 {   /* Создание класса цвета */
    background-color: var(--color2);   /* Цвет от переменной */
}
.about {
    background: #eee;   /* Задний фон */
}
.about i {
    font-size: 25px;    /* Размер шрифта */
    color: var(--color2);   /* Цвет от переменной */
}
.itd_circle {
    margin: 0 auto 15px;    /* 0 с верху + авто по бокам + 15 с низу  */
    width: 70px;    /* Ширина */
    height: 70px;   /* Высота */
    border: 3px solid var(--color2);    /* Создание рамки для иконки + цвет от переменной */
    border-radius: 50%; /* Скругление рамки ввиде кружочка */
    display: flex;  /* Для настройки центрирования */
    justify-content: center;   /* Центрирование Flex по горизонту */
    align-items: center;    /* Центрирование Flex по вертикали */
} 
.line {
    width: 100px;   /* Ширина линии */
    height: 3px;    /* Высота линии */
    background-color: var(--color1);  /* Цвет линии */
    margin: 15px auto 30px;        /* Отступы 15 с верху + авто по бокам + 30 с низу */
}
